In [ ]:
import pandas as pd
from time import sleep

from nba_api.stats.static import players
from nba_api.stats.endpoints import playerawards, playercareerstats

In [3]:
#get list of all inactive players; to be used for training/testing
inactives=pd.DataFrame(players.get_inactive_players())
inactives

           id            full_name first_name     last_name  is_active
0       76001       Alaa Abdelnaby       Alaa     Abdelnaby      False
1       76002      Zaid Abdul-Aziz       Zaid    Abdul-Aziz      False
2       76003  Kareem Abdul-Jabbar     Kareem  Abdul-Jabbar      False
3          51   Mahmoud Abdul-Rauf    Mahmoud    Abdul-Rauf      False
4        1505    Tariq Abdul-Wahad      Tariq   Abdul-Wahad      False
...       ...                  ...        ...           ...        ...
4568  1627790           Ante Zizic       Ante         Zizic      False
4569    78647             Jim Zoet        Jim          Zoet      False
4570    78648            Bill Zopf       Bill          Zopf      False
4571    78650           Matt Zunic       Matt         Zunic      False
4572  1628427        Vlatko Čančar     Vlatko        Čančar      False

[4573 rows x 5 columns]

In [29]:
test_df=inactives.iloc[:5].copy()
test_df

      id            full_name first_name     last_name  is_active
0  76001       Alaa Abdelnaby       Alaa     Abdelnaby      False
1  76002      Zaid Abdul-Aziz       Zaid    Abdul-Aziz      False
2  76003  Kareem Abdul-Jabbar     Kareem  Abdul-Jabbar      False
3     51   Mahmoud Abdul-Rauf    Mahmoud    Abdul-Rauf      False
4   1505    Tariq Abdul-Wahad      Tariq   Abdul-Wahad      False

In [30]:
def get_hof(row):
    sleep(.5)
    return "Hall of Fame Inductee" in playerawards.PlayerAwards(row["id"]).get_data_frames()[0]["DESCRIPTION"].values
test_df.loc[:,"HOF"]=test_df.apply(get_hof,axis=1)
test_df

      id            full_name first_name     last_name  is_active    HOF
0  76001       Alaa Abdelnaby       Alaa     Abdelnaby      False  False
1  76002      Zaid Abdul-Aziz       Zaid    Abdul-Aziz      False  False
2  76003  Kareem Abdul-Jabbar     Kareem  Abdul-Jabbar      False   True
3     51   Mahmoud Abdul-Rauf    Mahmoud    Abdul-Rauf      False  False
4   1505    Tariq Abdul-Wahad      Tariq   Abdul-Wahad      False  False