In [1]:
import pandas as pd
pd.set_option("display.max_columns",97)
pd.set_option("display.max_rows",74)
from time import sleep
from datetime import date

from nba_api.stats.static import players
from nba_api.stats.endpoints import playerawards, playercareerstats
from selenium import webdriver
from selenium.webdriver.common.by import By
from io import StringIO

In [2]:
#get list of all inactive players; to be used for training/testing
inactives=pd.DataFrame(players.get_inactive_players())
inactive_ineligibles=[]
inactives

           id            full_name first_name     last_name  is_active
0       76001       Alaa Abdelnaby       Alaa     Abdelnaby      False
1       76002      Zaid Abdul-Aziz       Zaid    Abdul-Aziz      False
2       76003  Kareem Abdul-Jabbar     Kareem  Abdul-Jabbar      False
3          51   Mahmoud Abdul-Rauf    Mahmoud    Abdul-Rauf      False
4        1505    Tariq Abdul-Wahad      Tariq   Abdul-Wahad      False
...       ...                  ...        ...           ...        ...
4568  1627790           Ante Zizic       Ante         Zizic      False
4569    78647             Jim Zoet        Jim          Zoet      False
4570    78648            Bill Zopf       Bill          Zopf      False
4571    78650           Matt Zunic       Matt         Zunic      False
4572  1628427        Vlatko Čančar     Vlatko        Čančar      False

[4573 rows x 5 columns]

In [3]:
#determine current season for eligibility purposes
season=date.today().year
if date.today().month>6:
    season+=1
season

2026

In [13]:
test_df=inactives.iloc[:5].copy()
test_df

      id            full_name first_name     last_name  is_active
0  76001       Alaa Abdelnaby       Alaa     Abdelnaby      False
1  76002      Zaid Abdul-Aziz       Zaid    Abdul-Aziz      False
2  76003  Kareem Abdul-Jabbar     Kareem  Abdul-Jabbar      False
3     51   Mahmoud Abdul-Rauf    Mahmoud    Abdul-Rauf      False
4   1505    Tariq Abdul-Wahad      Tariq   Abdul-Wahad      False

In [ ]:
# This function creates the label variable - whether or not a player is in the HOF
# Moved into get_awards function
def get_hof(row):
    # sleeping to respect NBA's rate limiting
    sleep(0.5)
    awards = playerawards.PlayerAwards(row["id"]).get_data_frames()[0]
    return "Hall of Fame Inductee" in awards["DESCRIPTION"].values
test_df["HOF"] = test_df.apply(get_hof, axis=1)
test_df

      id            full_name first_name     last_name  is_active    HOF
0  76001       Alaa Abdelnaby       Alaa     Abdelnaby      False  False
1  76002      Zaid Abdul-Aziz       Zaid    Abdul-Aziz      False  False
2  76003  Kareem Abdul-Jabbar     Kareem  Abdul-Jabbar      False   True
3     51   Mahmoud Abdul-Rauf    Mahmoud    Abdul-Rauf      False  False
4   1505    Tariq Abdul-Wahad      Tariq   Abdul-Wahad      False  False

In [3]:
#function that will be passed to pd rename function to rename average columns
def rename_avgs(col):
    if col=="PF":
        rename="F"
    elif col=="OREB" or col =="DREB":
        rename=col[:2]
    elif col[0]=="F":
        rename=col
    else:
        rename=col[0]
    return rename+"PG"
def clean_avgs(df):
    df.rename(columns=rename_avgs,inplace=True)
    return pd.concat([df.iloc[0,5:8],df.iloc[0,9:11],df.iloc[0,12:14],df.iloc[0,15:]])
def test_insert_missing(stats:pd.Series)->pd.Series:
    if "FG%" not in stats:
        stats=pd.concat([stats[:10],pd.Series({"FG%":0.0}),stats[10:12],pd.Series({"3P%":0.0}),stats[12:14],pd.Series({"2P%":0.0,"eFG%":0.0}),stats[14:]])
    elif "3P%" not in stats:
        stats=pd.concat([stats[:13],pd.Series({"3P%":0.0}),stats[13:]])
    elif "2P%" not in stats:
        stats=pd.concat([stats[:16],pd.Series({"2P%":0.0}),stats[16:]])
    if "FT%" not in stats:
        stats=pd.concat([stats[:20],pd.Series({"FT%":0.0}),stats[20:]])
    return stats

In [24]:
def get_career_stats(row):
    # sleep to respect rate limiting
    sleep(0.5)
    #holds the various dfs-season, career, reg season, playoffs
    try:
        totals=playercareerstats.PlayerCareerStats(row["id"]).get_data_frames()
    except KeyError:
        driver=webdriver.Firefox()
        driver.install_addon("ublock_origin-1.68.0.xpi")
        driver.get(f"https://www.basketball-reference.com/players/{row['last_name'].lower()[0]}/")
        player_link = driver.find_element(By.LINK_TEXT, row["full_name"]).get_attribute(
            "href"
        )
        driver.get(player_link)  # type: ignore
        avgs=driver.find_element(By.ID,"per_game_stats")
        totals=driver.find_element(By.ID,"totals_stats")
        totals_df=pd.read_html(StringIO(totals.get_attribute("outerHTML")))[0]
        totals_df=totals_df[totals_df.fillna("")["Season"].str.contains(r"^\d Yrs?$")].iloc[0]
        avgs_df=pd.read_html(StringIO(avgs.get_attribute("outerHTML")))[0]
        avgs_df=avgs_df[avgs_df.fillna("")["Season"].str.contains(r"^\d Yrs?$")].iloc[0]
        pf_totals_table=driver.find_elements(By.ID,"totals_stats_post")
        has_pf=False
        if len(pf_totals_table)==1:
            pf_totals=pd.read_html(StringIO(pf_totals_table[0].get_attribute("outerHTML")))[0]
            pf_totals=pf_totals[pf_totals.fillna("")["Season"].str.contains(r"^\d Yrs?$")].iloc[0]
            pf_avgs=pd.read_html(StringIO(driver.find_element(By.ID,"per_game_stats_post").get_attribute("outerHTML")))[0]
            pf_avgs=pf_avgs[pf_avgs.fillna("")["Season"].str.contains(r"^\d Yrs?$")].iloc[0]
            has_pf=True
        driver.quit()
        br_rename={"G":"GP","MP":"MIN","FG":"FGM","FG%":"FG_PCT","3P":"FG3M","3P%":"FG3_PCT","3PA":"FG3A","FT":"FTM","FT%":"FT_PCT","ORB":"OREB","DRB":"DREB","TRB":"REB"}
        totals_df=test_insert_missing(totals_df).rename(br_rename)
        avgs_df=test_insert_missing(avgs_df).rename(br_rename).rename(rename_avgs)
        if has_pf:
            pf_totals=test_insert_missing(pf_totals).rename(br_rename).add_prefix("PF_") #type: ignore
            pf_avgs=test_insert_missing(pf_avgs).rename(br_rename).rename(rename_avgs).add_prefix("PF_") #type: ignore
            return pd.concat([totals_df[5:14],totals_df[18:-2],avgs_df[7:10],avgs_df[11:13],avgs_df[18:20],avgs_df[21:-1],pf_totals[5:14],pf_totals[18:-2],pf_avgs[7:10],pf_avgs[11:13],pf_avgs[18:20],pf_avgs[21:-1]])
        return pd.concat([totals_df[5:14],totals_df[18:-2],avgs_df[7:10],avgs_df[11:13],avgs_df[18:20],avgs_df[21:-1]])
    if season-(int(totals[0].iloc[-1]["SEASON_ID"][:4])+1)<=4:
        inactive_ineligibles.append(row["full_name"])
    sleep(0.5)
    avgs=playercareerstats.PlayerCareerStats(row["id"],per_mode36="PerGame").get_data_frames()
    #check if player hasn't played in the playoffs; if so, only return regular season
    if len(totals[3])==0:
        return pd.concat([totals[1].iloc[0,3:],clean_avgs(avgs[1])])
    return pd.concat([totals[1].iloc[0,3:],clean_avgs(avgs[1]),totals[3].iloc[0,3:].add_prefix("PF_"),clean_avgs(avgs[3]).add_prefix("PF_")])
#playercareerstats.PlayerCareerStats(76003).get_data_frames()[0].columns

In [5]:
ai=inactives[inactives["id"]==947]
ai

       id      full_name first_name last_name  is_active
1928  947  Allen Iverson      Allen   Iverson      False

In [9]:
get_career_stats(ai)

GP          914
GS          901
MIN       37577
FGM        8467
FGA       19906
          ...
PF_SPG      2.1
PF_BPG      0.2
PF_TPG      3.1
PF_FPG      2.2
PF_PPG     29.7
Name: 0, Length: 74, dtype: object

In [12]:
pd.concat([test_df,test_df.apply(get_career_stats,axis=1)],axis=1)

,id,full_name,first_name,last_name,is_active,HOF,GP,GS,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,MPG,FGMPG,FGAPG,FG3MPG,FG3APG,FTMPG,FTAPG,ORPG,DRPG,RPG,APG,SPG,BPG,TPG,FPG,PPG,PF_GP,PF_GS,PF_MIN,PF_FGM,PF_FGA,PF_FG_PCT,PF_FG3M,PF_FG3A,PF_FG3_PCT,PF_FTM,PF_FTA,PF_FT_PCT,PF_OREB,PF_DREB,PF_REB,PF_AST,PF_STL,PF_BLK,PF_TOV,PF_PF,PF_PTS,PF_MPG,PF_FGMPG,PF_FGAPG,PF_FG3MPG,PF_FG3APG,PF_FTMPG,PF_FTAPG,PF_ORPG,PF_DRPG,PF_RPG,PF_APG,PF_SPG,PF_BPG,PF_TPG,PF_FPG,PF_PPG
0,76001,Alaa Abdelnaby,Alaa,Abdelnaby,False,False,256,53.0,3200,620,1236,0.501618,0.0,3.0,0.000000,225,321,0.700935,283,563,846,85,71,69,247,484,1465,12.5,2.4,4.8,0.0,0.0,0.9,1.3,1.1,2.2,3.3,0.3,0.3,0.3,1.0,1.9,5.7,17,4.0,106,18,40,0.450000,0.0,0.0,0.000000,2,4,0.500000,3,17,20,3,0,1,11.0,11,38,6.2,1.1,2.4,0.0,0.0,0.1,0.2,0.2,1.0,1.2,0.2,0.0,0.1,0.6,0.6,2.2
1,76002,Zaid Abdul-Aziz,Zaid,Abdul-Aziz,False,False,505,NaN,11023,1769,4138,0.427501,NaN,NaN,NaN,1019,1400,0.727857,503,1124,4065,601,131,205,11,1120,4557,21.8,3.5,8.2,NaN,NaN,2.0,2.8,2.4,5.4,8.0,1.2,0.6,1.0,0.7,2.2,9.0,18,NaN,210,37,70,0.528571,NaN,NaN,NaN,18,26,0.692308,11,27,64,9,1,8,NaN,12,92,11.7,2.1,3.9,NaN,NaN,1.0,1.4,1.0,2.5,3.6,0.5,0.1,0.7,NaN,0.7,5.1
2,76003,Kareem Abdul-Jabbar,Kareem,Abdul-Jabbar,False,True,1560,1476.0,57446,15837,28307,0.559473,1.0,18.0,NaN,6712,9304,0.721410,2975,9394,17440,5660,1160,3189,2527,4657,38387,36.8,10.2,18.1,0.0,NaN,4.3,6.0,2.4,7.6,11.2,3.6,0.9,2.6,2.7,3.0,24.6,237,140.0,8612,2356,4422,0.532791,0.0,4.0,NaN,1050,1419,0.739958,505,1273,2481,767,189,476,447.0,797,5762,36.3,9.9,18.7,0.0,NaN,4.4,6.0,2.6,6.5,10.5,3.2,1.0,2.4,2.6,3.4,24.3
3,51,Mahmoud Abdul-Rauf,Mahmoud,Abdul-Rauf,False,False,586,336.0,15627,3514,7943,0.442402,474.0,1339.0,0.353996,1051,1161,0.905254,219,868,1087,2079,487,46,963,1106,8553,26.7,6.0,13.6,0.8,2.3,1.8,2.0,0.4,1.5,1.9,3.5,0.8,0.1,1.6,1.9,14.6,15,14.0,415,69,187,0.368984,14.0,49.0,0.285714,43,45,0.955556,5,18,23,35,7,1,22.0,37,195,27.7,4.6,12.5,0.9,3.3,2.9,3.0,0.3,1.2,1.5,2.3,0.5,0.1,1.5,2.5,13.0
4,1505,Tariq Abdul-Wahad,Tariq,Abdul-Wahad,False,False,236,145.0,4808,720,1726,0.417149,18.0,76.0,0.236842,372,529,0.703214,286,490,776,266,184,83,309,485,1830,20.4,3.1,7.3,0.1,0.3,1.6,2.2,1.2,2.1,3.3,1.1,0.8,0.4,1.3,2.1,7.8,13,5.0,178,24,63,0.380952,0.0,3.0,0.000000,20,24,0.833333,17,24,41,11,4,4,4.0,14,68,13.7,1.8,4.8,0.0,0.2,1.5,1.8,1.3,1.8,3.2,0.8,0.3,0.3,0.3,1.1,5.2

In [5]:
#will eventually be combined with get_hof function as both make same api call
#for now, though, need to isolate the logic to get awards
def get_awards(row):
    #get list of all player's awards
    awards=playerawards.PlayerAwards(row["id"]).get_data_frames()[0]
    #used to distinguish 1st, 2nd, 3rd team All-NBA, etc
    team_nums={"1":"1st","2":"2nd","3":"3rd"}
    #get the subset of all the awards with a numbered team and prepend the description with the correct prefix from the dict
    awards.loc[awards["ALL_NBA_TEAM_NUMBER"].fillna("").str.isnumeric(),"DESCRIPTION"]=awards["ALL_NBA_TEAM_NUMBER"].map(team_nums)+" Team "+awards["DESCRIPTION"]
    #count number of times player has won each award
    award_counts=awards.groupby("DESCRIPTION").size()
    #future label column, HOF, determination is here now instead of its own function
    award_counts["HOF"]="Hall of Fame Inductee" in awards["DESCRIPTION"].values
    return award_counts

In [6]:
mj=inactives[inactives["full_name"]=="Michael Jordan"]
mj

       id       full_name first_name last_name  is_active
2139  893  Michael Jordan    Michael    Jordan      False

In [16]:
get_awards(mj)

DESCRIPTION
1st Team All-Defensive Team                              9
1st Team All-NBA                                        10
1st Team All-Rookie Team                                 1
2nd Team All-NBA                                         1
Hall of Fame Inductee                                    1
IBM Award                                                2
NBA All-Star                                            14
NBA All-Star Most Valuable Player                        3
NBA Champion                                             6
NBA Defensive Player of the Year                         1
NBA Finals Most Valuable Player                          6
NBA Most Valuable Player                                 5
NBA Player of the Month                                 16
NBA Player of the Week                                  25
NBA Rookie of the Month                                  3
NBA Rookie of the Year                                   1
NBA Sporting News Most Valuable Player of the Year       7
NBA Sporting News Rookie of the Year                     1
Olympic Gold Medal                                       2
HOF                                                   True
dtype: object

In [17]:
pd.concat([test_df,test_df.apply(get_awards,axis=1)],axis=1)

,id,full_name,first_name,last_name,is_active,1st Team All-Defensive Team,1st Team All-NBA,1st Team All-Rookie Team,2nd Team All-Defensive Team,2nd Team All-NBA,2nd Team All-Rookie Team,HOF,Hall of Fame Inductee,NBA All-Star,NBA Champion,NBA Finals Most Valuable Player,NBA Most Improved Player,NBA Most Valuable Player,NBA Player of the Month,NBA Player of the Week,NBA Rookie of the Year,NBA Sporting News Most Valuable Player of the Year,NBA Sporting News Rookie of the Year
0,76001,Alaa Abdelnaby,Alaa,Abdelnaby,False,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,76002,Zaid Abdul-Aziz,Zaid,Abdul-Aziz,False,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,76003,Kareem Abdul-Jabbar,Kareem,Abdul-Jabbar,False,5.0,10.0,1.0,6.0,5.0,NaN,True,1.0,19.0,6.0,2.0,NaN,6.0,2.0,7.0,1.0,6.0,1.0
3,51,Mahmoud Abdul-Rauf,Mahmoud,Abdul-Rauf,False,NaN,NaN,NaN,NaN,NaN,1.0,False,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
4,1505,Tariq Abdul-Wahad,Tariq,Abdul-Wahad,False,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
#final check I think for verifying the scraping for inactive players
test_df=pd.concat([test_df,test_df.apply(get_career_stats,axis=1),test_df.apply(get_awards,axis=1)],axis=1)

In [67]:
ii_tests=["Carmelo Anthony","Blake Griffin","Dwight Howard","John Wall","Andre Iguodala","Vince Carter","Chauncey Billups"]
ii_df=inactives[inactives["full_name"].isin(ii_tests)]
ii_df=pd.concat([ii_df,inactives[inactives["full_name"]=="Kostas Antetokounmpo"]])
ii_df

           id             full_name first_name      last_name  is_active
103      2546       Carmelo Anthony    Carmelo        Anthony      False
315      1497      Chauncey Billups   Chauncey        Billups      False
661      1713          Vince Carter      Vince         Carter      False
1556   201933         Blake Griffin      Blake        Griffin      False
1863     2730         Dwight Howard     Dwight         Howard      False
1916     2738        Andre Iguodala      Andre       Iguodala      False
4210   202322             John Wall       John           Wall      False
102   1628961  Kostas Antetokounmpo     Kostas  Antetokounmpo      False

In [32]:
for row in ii_df.itertuples():
    print(f"{row[2]} is ii: {season-(int(playercareerstats.PlayerCareerStats(row[1]).get_data_frames()[0].iloc[-1]["SEASON_ID"][:4])+1)<=4}")

Kostas Antetokounmpo is ii: False
Carmelo Anthony is ii: True
Chauncey Billups is ii: False
Vince Carter is ii: False
Blake Griffin is ii: True
Dwight Howard is ii: True
Andre Iguodala is ii: True
John Wall is ii: True

In [ ]:
pd.concat([ii_df,ii_df.apply(get_career_stats,axis=1),ii_df.apply(get_awards,axis=1)],axis=1)

,id,full_name,first_name,last_name,is_active,APG,AST,BLK,BPG,DREB,DRPG,FG3A,FG3APG,FG3M,FG3MPG,FG3_PCT,FGA,FGAPG,FGM,FGMPG,FG_PCT,FPG,FTA,FTAPG,FTM,FTMPG,FT_PCT,GP,GS,MIN,MPG,OREB,ORPG,PF,PF_APG,PF_AST,PF_BLK,PF_BPG,PF_DREB,PF_DRPG,PF_FG3A,PF_FG3APG,PF_FG3M,PF_FG3MPG,PF_FG3_PCT,PF_FGA,PF_FGAPG,PF_FGM,...,PF_FTA,PF_FTAPG,PF_FTM,PF_FTMPG,PF_FT_PCT,PF_GP,PF_GS,PF_MIN,PF_MPG,PF_OREB,PF_ORPG,PF_PF,PF_PPG,PF_PTS,PF_REB,PF_RPG,PF_SPG,PF_STL,PF_TOV,PF_TPG,PPG,PTS,REB,RPG,SPG,STL,TOV,TPG,1st Team All-Defensive Team,1st Team All-NBA,1st Team All-Rookie Team,2nd Team All-Defensive Team,2nd Team All-NBA,3rd Team All-NBA,HOF,J. Walter Kennedy Citizenship,NBA All-Star,NBA Champion,NBA Defensive Player of the Year,NBA Finals Most Valuable Player,NBA Player of the Month,NBA Player of the Week,NBA Rookie of the Month,NBA Rookie of the Year,NBA Sporting News Rookie of the Year,NBA Sportsmanship,Olympic Bronze Medal,Olympic Gold Medal
103,2546,Carmelo Anthony,Carmelo,Anthony,False,2.7,3422,644,0.5,5825,4.6,4873,3.9,1731,1.4,0.355223,22643,18.0,10119,8.0,0.446893,2.8,7764,6.2,6320,5.0,0.814013,1260,1120,43513,34.5,1983,1.6,3543,2.5,204.0,29.0,0.3,404.0,4.9,312.0,3.8,101.0,1.2,0.323718,1614.0,19.4,669.0,...,575.0,6.9,475.0,5.7,0.826087,83.0,77.0,3090.0,37.2,153.0,1.8,298.0,23.1,1914.0,557.0,6.7,1.2,100.0,218.0,2.6,22.5,28289,7808,6.2,1.0,1223,3052,2.4,NaN,NaN,1.0,NaN,2.0,4.0,False,NaN,10.0,NaN,NaN,NaN,5.0,17.0,6.0,NaN,NaN,NaN,1.0,3.0
315,1497,Chauncey Billups,Chauncey,Billups,False,5.4,5636,168,0.2,2512,2.4,4725,4.5,1830,1.8,0.387302,11413,10.9,4738,4.5,0.415141,2.1,5029,4.8,4496,4.3,0.894015,1043,937,33008,31.6,480,0.5,2169,5.7,831.0,23.0,0.2,421.0,2.9,729.0,5.0,267.0,1.8,0.366255,1793.0,12.3,737.0,...,892.0,6.1,785.0,5.4,0.880045,146.0,143.0,5323.0,36.5,71.0,0.5,373.0,17.3,2526.0,492.0,3.4,1.0,148.0,322.0,2.2,15.2,15802,2992,2.9,1.0,1051,2138,2.0,NaN,NaN,NaN,2.0,1.0,2.0,False,1.0,5.0,1.0,NaN,1.0,2.0,6.0,NaN,NaN,NaN,1.0,NaN,NaN
661,1713,Vince Carter,Vince,Carter,False,3.1,4714,888,0.6,4948,3.2,6168,4.0,2290,1.5,0.371271,21339,13.8,9293,6.0,0.435494,2.6,6082,3.9,4852,3.1,0.797764,1541,982,46371,30.1,1658,1.1,3995,3.4,295.0,47.0,0.5,346.0,3.9,352.0,4.0,119.0,1.4,0.338068,1340.0,15.2,557.0,...,452.0,5.1,360.0,4.1,0.796460,88.0,66.0,3033.0,34.5,131.0,1.5,257.0,18.1,1593.0,477.0,5.4,1.1,94.0,168.0,1.9,16.7,25728,6606,4.3,1.0,1530,2590,1.7,NaN,NaN,1.0,NaN,1.0,1.0,False,NaN,8.0,NaN,NaN,NaN,3.0,11.0,2.0,1.0,1.0,NaN,NaN,1.0
1556,201933,Blake Griffin,Blake,Griffin,False,4.0,3055,359,0.5,4622,6.0,1639,2.1,538,0.7,0.328249,10988,14.4,5419,7.1,0.493174,2.7,4508,5.9,3137,4.1,0.695874,765,692,24385,31.9,1487,1.9,2058,3.5,238.0,53.0,0.8,393.0,5.8,77.0,1.1,29.0,0.4,0.376623,970.0,14.3,477.0,...,349.0,5.1,255.0,3.8,0.730659,68.0,64.0,2219.0,32.6,132.0,1.9,227.0,18.2,1238.0,525.0,7.7,1.0,68.0,141.0,2.1,19.0,14513,6109,8.0,0.8,626,1732,2.3,NaN,NaN,1.0,NaN,3.0,2.0,False,NaN,6.0,NaN,NaN,NaN,1.0,6.0,6.0,1.0,NaN,NaN,NaN,NaN
1863,2730,Dwight Howard,Dwight,Howard,False,1.3,1676,2228,1.8,10476,8.4,103,0.1,22,0.0,0.213592,12016,9.7,7051,5.7,0.586801,3.1,9455,7.6,5361,4.3,0.567002,1242,1078,39455,31.8,4151,3.3,3912,1.2,149.0,248.0,2.0,1032.0,8.3,7.0,0.1,1.0,0.0,0.142857,1156.0,9.2,681.0,...,997.0,8.0,546.0,4.4,0.547643,125.0,102.0,3945.0,31.6,441.0,3.5,467.0,15.3,1909.0,1473.0,11.8,0.8,94.0,323.0,2.6,15.7,19485,14627,11.8,0.9,1081,3302,2.7,4.0,5.0,1.0,1.0,1.0,2.0,False,NaN,8.0,1.0,3.0,NaN,6.0,15.0,NaN,NaN,NaN,NaN,NaN,1.0
1916,2738,Andre Iguodala,Andre,Iguodala,False,4.2,5147,633,0.5,4929,4.0,3278,2.7,1081,0.9,0.329774,10870,8.8,5028,4.1,0.462557,1.8,3994,3.2,2831,2.3,0.708813,1231,784,39505,32.1,1118,0.9,2180,3.5,618.0,88.0,0.5,603.0,3.4,513.0,2.9,182.0,1.0,0.354776,1323.0,7.5,606.0,...,458.0,2.6,267.0,1.5,0.582969,177.0,81.0,5268.0,29.8,173.0,1.0,351.0,9.4,1661.0,776.0,4.4,1.2,217.0,237.0,1.3,11.3,13968,6047,4.9,1.4,1765,2240,1.8,1.0,NaN,1.0,1.0,NaN,NaN,False,NaN,1.0,4.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
4210,202322,John Wall,John,Wall,False,8.9,5735,439,0.7,2343,3.6,2021,3.1,651,1.0,0.322118,10171,15.7,4373,6.8,0.429948,2.2,3468,5.4,2691,4.2,0.775952,647,604,22586,34.9,361,0.6,1394,9.8,364.0,41.0,1.1,139.0,3.8,131.0,3.5,35.0,0.9,0.267176,682.0,18.4,286.0,...,247.0,6.7,203.0,5.5,0.821862,37.0,37.0,1433.0,38.7,20.0,0.5,84.0,21.9,810.0,159.0,4.3,1.7,64.0,145.0,3.9,18.7,12088,2704,4.2,1.6,1045,2412,3.7,NaN,NaN,1.0,1.0,NaN,1.0,False,NaN,5.0,NaN,NaN,NaN,2.0,7.0,4.0,NaN,NaN,NaN,NaN,NaN
102,1628961,Kostas Antetokounmpo,Kostas,Antetokounmpo,False,0.1,3,4,0.2,17,0.8,0,0.0,0,0.0,0.000000,16,0.7,6,0.3,0.375000,0.5,19,0.9,9,0.4,0.473684,22,0,86,3.9,6,0.3,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,21,23,1.0,0.2,4,13,0.6,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
len(playercareerstats.PlayerCareerStats(1628961).get_data_frames()[3])

0

In [9]:
test_df

,id,full_name,first_name,last_name,is_active,GP,GS,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,MPG,FGMPG,FGAPG,FG3MPG,FG3APG,FTMPG,FTAPG,ORPG,DRPG,RPG,APG,SPG,BPG,TPG,FPG,PPG,PF_GP,PF_GS,PF_MIN,PF_FGM,PF_FGA,PF_FG_PCT,PF_FG3M,PF_FG3A,PF_FG3_PCT,PF_FTM,PF_FTA,PF_FT_PCT,PF_OREB,PF_DREB,PF_REB,PF_AST,PF_STL,PF_BLK,PF_TOV,PF_PF,PF_PTS,PF_MPG,PF_FGMPG,PF_FGAPG,PF_FG3MPG,PF_FG3APG,PF_FTMPG,PF_FTAPG,PF_ORPG,PF_DRPG,PF_RPG,PF_APG,PF_SPG,PF_BPG,PF_TPG,PF_FPG,PF_PPG,1st Team All-Defensive Team,1st Team All-NBA,1st Team All-Rookie Team,2nd Team All-Defensive Team,2nd Team All-NBA,2nd Team All-Rookie Team,HOF,Hall of Fame Inductee,NBA All-Star,NBA Champion,NBA Finals Most Valuable Player,NBA Most Improved Player,NBA Most Valuable Player,NBA Player of the Month,NBA Player of the Week,NBA Rookie of the Year,NBA Sporting News Most Valuable Player of the Year,NBA Sporting News Rookie of the Year
0,76001,Alaa Abdelnaby,Alaa,Abdelnaby,False,256,53.0,3200,620,1236,0.501618,0.0,3.0,0.000000,225,321,0.700935,283,563,846,85,71,69,247,484,1465,12.5,2.4,4.8,0.0,0.0,0.9,1.3,1.1,2.2,3.3,0.3,0.3,0.3,1.0,1.9,5.7,17,4.0,106,18,40,0.450000,0.0,0.0,0.000000,2,4,0.500000,3,17,20,3,0,1,11.0,11,38,6.2,1.1,2.4,0.0,0.0,0.1,0.2,0.2,1.0,1.2,0.2,0.0,0.1,0.6,0.6,2.2,0.0,0.0,0.0,0.0,0.0,0.0,False,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,76002,Zaid Abdul-Aziz,Zaid,Abdul-Aziz,False,505,0.0,11023,1769,4138,0.427501,0.0,0.0,0.000000,1019,1400,0.727857,503,1124,4065,601,131,205,11,1120,4557,21.8,3.5,8.2,0.0,0.0,2.0,2.8,2.4,5.4,8.0,1.2,0.6,1.0,0.7,2.2,9.0,18,0.0,210,37,70,0.528571,0.0,0.0,0.000000,18,26,0.692308,11,27,64,9,1,8,0.0,12,92,11.7,2.1,3.9,0.0,0.0,1.0,1.4,1.0,2.5,3.6,0.5,0.1,0.7,0.0,0.7,5.1,0.0,0.0,0.0,0.0,0.0,0.0,False,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,76003,Kareem Abdul-Jabbar,Kareem,Abdul-Jabbar,False,1560,1476.0,57446,15837,28307,0.559473,1.0,18.0,0.000000,6712,9304,0.721410,2975,9394,17440,5660,1160,3189,2527,4657,38387,36.8,10.2,18.1,0.0,0.0,4.3,6.0,2.4,7.6,11.2,3.6,0.9,2.6,2.7,3.0,24.6,237,140.0,8612,2356,4422,0.532791,0.0,4.0,0.000000,1050,1419,0.739958,505,1273,2481,767,189,476,447.0,797,5762,36.3,9.9,18.7,0.0,0.0,4.4,6.0,2.6,6.5,10.5,3.2,1.0,2.4,2.6,3.4,24.3,5.0,10.0,1.0,6.0,5.0,0.0,True,1.0,19.0,6.0,2.0,0.0,6.0,2.0,7.0,1.0,6.0,1.0
3,51,Mahmoud Abdul-Rauf,Mahmoud,Abdul-Rauf,False,586,336.0,15627,3514,7943,0.442402,474.0,1339.0,0.353996,1051,1161,0.905254,219,868,1087,2079,487,46,963,1106,8553,26.7,6.0,13.6,0.8,2.3,1.8,2.0,0.4,1.5,1.9,3.5,0.8,0.1,1.6,1.9,14.6,15,14.0,415,69,187,0.368984,14.0,49.0,0.285714,43,45,0.955556,5,18,23,35,7,1,22.0,37,195,27.7,4.6,12.5,0.9,3.3,2.9,3.0,0.3,1.2,1.5,2.3,0.5,0.1,1.5,2.5,13.0,0.0,0.0,0.0,0.0,0.0,1.0,False,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1505,Tariq Abdul-Wahad,Tariq,Abdul-Wahad,False,236,145.0,4808,720,1726,0.417149,18.0,76.0,0.236842,372,529,0.703214,286,490,776,266,184,83,309,485,1830,20.4,3.1,7.3,0.1,0.3,1.6,2.2,1.2,2.1,3.3,1.1,0.8,0.4,1.3,2.1,7.8,13,5.0,178,24,63,0.380952,0.0,3.0,0.000000,20,24,0.833333,17,24,41,11,4,4,4.0,14,68,13.7,1.8,4.8,0.0,0.2,1.5,1.8,1.3,1.8,3.2,0.8,0.3,0.3,0.3,1.1,5.2,0.0,0.0,0.0,0.0,0.0,0.0,False,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
test_df2=inactives.iloc[6:11].copy()
test_df2

        id       full_name first_name  last_name  is_active
6    76005   Tom Abernethy        Tom  Abernethy      False
7    76006     Forest Able     Forest       Able      False
8    76007  John Abramovic       John  Abramovic      False
9   203518    Alex Abrines       Alex    Abrines      False
10  101165      Alex Acker       Alex      Acker      False

In [16]:
test_df2=pd.concat([test_df2,test_df2.apply(get_career_stats,axis=1)],axis=1)
test_df2=pd.concat([test_df2,test_df2.apply(get_awards,axis=1)],axis=1).fillna(0)

In [15]:
test_df2.apply(get_awards,axis=1)

DESCRIPTION    HOF  Olympic Bronze Medal
6            False                   NaN
7            False                   NaN
8            False                   NaN
9            False                   1.0
10           False                   NaN

In [21]:
test_df

,id,full_name,first_name,last_name,is_active,GP,GS,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,MPG,FGMPG,FGAPG,FG3MPG,FG3APG,FTMPG,FTAPG,ORPG,DRPG,RPG,APG,SPG,BPG,TPG,FPG,PPG,PF_GP,PF_GS,PF_MIN,PF_FGM,PF_FGA,PF_FG_PCT,PF_FG3M,PF_FG3A,PF_FG3_PCT,PF_FTM,PF_FTA,PF_FT_PCT,PF_OREB,PF_DREB,PF_REB,PF_AST,PF_STL,PF_BLK,PF_TOV,PF_PF,PF_PTS,PF_MPG,PF_FGMPG,PF_FGAPG,PF_FG3MPG,PF_FG3APG,PF_FTMPG,PF_FTAPG,PF_ORPG,PF_DRPG,PF_RPG,PF_APG,PF_SPG,PF_BPG,PF_TPG,PF_FPG,PF_PPG,1st Team All-Defensive Team,1st Team All-NBA,1st Team All-Rookie Team,2nd Team All-Defensive Team,2nd Team All-NBA,2nd Team All-Rookie Team,HOF,Hall of Fame Inductee,NBA All-Star,NBA Champion,NBA Finals Most Valuable Player,NBA Most Improved Player,NBA Most Valuable Player,NBA Player of the Month,NBA Player of the Week,NBA Rookie of the Year,NBA Sporting News Most Valuable Player of the Year,NBA Sporting News Rookie of the Year
0,76001,Alaa Abdelnaby,Alaa,Abdelnaby,False,256,53.0,3200,620,1236,0.501618,0.0,3.0,0.000000,225,321,0.700935,283,563,846,85,71,69,247,484,1465,12.5,2.4,4.8,0.0,0.0,0.9,1.3,1.1,2.2,3.3,0.3,0.3,0.3,1.0,1.9,5.7,17,4.0,106,18,40,0.450000,0.0,0.0,0.000000,2,4,0.500000,3,17,20,3,0,1,11.0,11,38,6.2,1.1,2.4,0.0,0.0,0.1,0.2,0.2,1.0,1.2,0.2,0.0,0.1,0.6,0.6,2.2,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,76002,Zaid Abdul-Aziz,Zaid,Abdul-Aziz,False,505,NaN,11023,1769,4138,0.427501,NaN,NaN,NaN,1019,1400,0.727857,503,1124,4065,601,131,205,11,1120,4557,21.8,3.5,8.2,NaN,NaN,2.0,2.8,2.4,5.4,8.0,1.2,0.6,1.0,0.7,2.2,9.0,18,NaN,210,37,70,0.528571,NaN,NaN,NaN,18,26,0.692308,11,27,64,9,1,8,NaN,12,92,11.7,2.1,3.9,NaN,NaN,1.0,1.4,1.0,2.5,3.6,0.5,0.1,0.7,NaN,0.7,5.1,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,76003,Kareem Abdul-Jabbar,Kareem,Abdul-Jabbar,False,1560,1476.0,57446,15837,28307,0.559473,1.0,18.0,NaN,6712,9304,0.721410,2975,9394,17440,5660,1160,3189,2527,4657,38387,36.8,10.2,18.1,0.0,NaN,4.3,6.0,2.4,7.6,11.2,3.6,0.9,2.6,2.7,3.0,24.6,237,140.0,8612,2356,4422,0.532791,0.0,4.0,NaN,1050,1419,0.739958,505,1273,2481,767,189,476,447.0,797,5762,36.3,9.9,18.7,0.0,NaN,4.4,6.0,2.6,6.5,10.5,3.2,1.0,2.4,2.6,3.4,24.3,5.0,10.0,1.0,6.0,5.0,NaN,True,1.0,19.0,6.0,2.0,NaN,6.0,2.0,7.0,1.0,6.0,1.0
3,51,Mahmoud Abdul-Rauf,Mahmoud,Abdul-Rauf,False,586,336.0,15627,3514,7943,0.442402,474.0,1339.0,0.353996,1051,1161,0.905254,219,868,1087,2079,487,46,963,1106,8553,26.7,6.0,13.6,0.8,2.3,1.8,2.0,0.4,1.5,1.9,3.5,0.8,0.1,1.6,1.9,14.6,15,14.0,415,69,187,0.368984,14.0,49.0,0.285714,43,45,0.955556,5,18,23,35,7,1,22.0,37,195,27.7,4.6,12.5,0.9,3.3,2.9,3.0,0.3,1.2,1.5,2.3,0.5,0.1,1.5,2.5,13.0,NaN,NaN,NaN,NaN,NaN,1.0,False,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
4,1505,Tariq Abdul-Wahad,Tariq,Abdul-Wahad,False,236,145.0,4808,720,1726,0.417149,18.0,76.0,0.236842,372,529,0.703214,286,490,776,266,184,83,309,485,1830,20.4,3.1,7.3,0.1,0.3,1.6,2.2,1.2,2.1,3.3,1.1,0.8,0.4,1.3,2.1,7.8,13,5.0,178,24,63,0.380952,0.0,3.0,0.000000,20,24,0.833333,17,24,41,11,4,4,4.0,14,68,13.7,1.8,4.8,0.0,0.2,1.5,1.8,1.3,1.8,3.2,0.8,0.3,0.3,0.3,1.1,5.2,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#need to check a type for the general file
print(type(playercareerstats.PlayerCareerStats(947).get_data_frames()[1]))
print(type(clean_avgs(playercareerstats.PlayerCareerStats(947).get_data_frames()[1])))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

In [7]:
removals=["Alex Acker","Forest Able"]
removed=test_df2[test_df2["full_name"].isin(removals)]
removed

        id    full_name first_name last_name  is_active
7    76006  Forest Able     Forest      Able      False
10  101165   Alex Acker       Alex     Acker      False

In [9]:
test_df2.drop(removed.index)

       id       full_name first_name  last_name  is_active
6   76005   Tom Abernethy        Tom  Abernethy      False
8   76007  John Abramovic       John  Abramovic      False
9  203518    Alex Abrines       Alex    Abrines      False

In [ ]:
#pd.concat([test_df,removed])

        id            full_name first_name     last_name  is_active
0    76001       Alaa Abdelnaby       Alaa     Abdelnaby      False
1    76002      Zaid Abdul-Aziz       Zaid    Abdul-Aziz      False
2    76003  Kareem Abdul-Jabbar     Kareem  Abdul-Jabbar      False
3       51   Mahmoud Abdul-Rauf    Mahmoud    Abdul-Rauf      False
4     1505    Tariq Abdul-Wahad      Tariq   Abdul-Wahad      False
7    76006          Forest Able     Forest          Able      False
10  101165           Alex Acker       Alex         Acker      False

In [14]:
test_df=pd.concat([test_df,inactives[inactives["full_name"].isin(["Peter Aluma","JamesOn Curry"])]])
test_df

         id            full_name first_name     last_name  is_active
0     76001       Alaa Abdelnaby       Alaa     Abdelnaby      False
1     76002      Zaid Abdul-Aziz       Zaid    Abdul-Aziz      False
2     76003  Kareem Abdul-Jabbar     Kareem  Abdul-Jabbar      False
3        51   Mahmoud Abdul-Rauf    Mahmoud    Abdul-Rauf      False
4      1505    Tariq Abdul-Wahad      Tariq   Abdul-Wahad      False
67     1824          Peter Aluma      Peter         Aluma      False
881  201191        JamesOn Curry    JamesOn         Curry      False

In [20]:
test_df.apply(get_career_stats,axis=1)

,APG,AST,BLK,BPG,DREB,DRPG,FG3A,FG3APG,FG3M,FG3MPG,FG3_PCT,FGA,FGAPG,FGM,FGMPG,FG_PCT,FPG,FTA,FTAPG,FTM,FTMPG,FT_PCT,GP,GS,MIN,MPG,OREB,ORPG,PF,PF_APG,PF_AST,PF_BLK,PF_BPG,PF_DREB,PF_DRPG,PF_FG3A,PF_FG3APG,PF_FG3M,PF_FG3MPG,PF_FG3_PCT,PF_FGA,PF_FGAPG,PF_FGM,PF_FGMPG,PF_FG_PCT,PF_FPG,PF_FTA,PF_FTAPG,PF_FTM,PF_FTMPG,PF_FT_PCT,PF_GP,PF_GS,PF_MIN,PF_MPG,PF_OREB,PF_ORPG,PF_PF,PF_PPG,PF_PTS,PF_REB,PF_RPG,PF_SPG,PF_STL,PF_TOV,PF_TPG,PPG,PTS,REB,RPG,SPG,STL,TOV,TPG
0,0.3,85,69,0.3,563,2.2,3.0,0.0,0.0,0.0,0.000000,1236,4.8,620,2.4,0.501618,1.9,321,1.3,225,0.9,0.700935,256,53.0,3200,12.5,283,1.1,484,0.2,3.0,1.0,0.1,17.0,1.0,0.0,0.0,0.0,0.0,0.000000,40.0,2.4,18.0,1.1,0.450000,0.6,4.0,0.2,2.0,0.1,0.500000,17.0,4.0,106.0,6.2,3.0,0.2,11.0,2.2,38.0,20.0,1.2,0.0,0.0,11.0,0.6,5.7,1465,846,3.3,0.3,71,247,1.0
1,1.2,601,205,1.0,1124,5.4,NaN,NaN,NaN,NaN,NaN,4138,8.2,1769,3.5,0.427501,2.2,1400,2.8,1019,2.0,0.727857,505,NaN,11023,21.8,503,2.4,1120,0.5,9.0,8.0,0.7,27.0,2.5,NaN,NaN,NaN,NaN,NaN,70.0,3.9,37.0,2.1,0.528571,0.7,26.0,1.4,18.0,1.0,0.692308,18.0,NaN,210.0,11.7,11.0,1.0,12.0,5.1,92.0,64.0,3.6,0.1,1.0,NaN,NaN,9.0,4557,4065,8.0,0.6,131,11,0.7
2,3.6,5660,3189,2.6,9394,7.6,18.0,NaN,1.0,0.0,NaN,28307,18.1,15837,10.2,0.559473,3.0,9304,6.0,6712,4.3,0.721410,1560,1476.0,57446,36.8,2975,2.4,4657,3.2,767.0,476.0,2.4,1273.0,6.5,4.0,NaN,0.0,0.0,NaN,4422.0,18.7,2356.0,9.9,0.532791,3.4,1419.0,6.0,1050.0,4.4,0.739958,237.0,140.0,8612.0,36.3,505.0,2.6,797.0,24.3,5762.0,2481.0,10.5,1.0,189.0,447.0,2.6,24.6,38387,17440,11.2,0.9,1160,2527,2.7
3,3.5,2079,46,0.1,868,1.5,1339.0,2.3,474.0,0.8,0.353996,7943,13.6,3514,6.0,0.442402,1.9,1161,2.0,1051,1.8,0.905254,586,336.0,15627,26.7,219,0.4,1106,2.3,35.0,1.0,0.1,18.0,1.2,49.0,3.3,14.0,0.9,0.285714,187.0,12.5,69.0,4.6,0.368984,2.5,45.0,3.0,43.0,2.9,0.955556,15.0,14.0,415.0,27.7,5.0,0.3,37.0,13.0,195.0,23.0,1.5,0.5,7.0,22.0,1.5,14.6,8553,1087,1.9,0.8,487,963,1.6
4,1.1,266,83,0.4,490,2.1,76.0,0.3,18.0,0.1,0.236842,1726,7.3,720,3.1,0.417149,2.1,529,2.2,372,1.6,0.703214,236,145.0,4808,20.4,286,1.2,485,0.8,11.0,4.0,0.3,24.0,1.8,3.0,0.2,0.0,0.0,0.000000,63.0,4.8,24.0,1.8,0.380952,1.1,24.0,1.8,20.0,1.5,0.833333,13.0,5.0,178.0,13.7,17.0,1.3,14.0,5.2,68.0,41.0,3.2,0.3,4.0,4.0,0.3,7.8,1830,776,3.3,0.8,184,309,1.3
67,0.0,0,1,0.5,1,0.5,0.0,0.0,0.0,0.0,0.000000,2,1.0,1,0.5,0.500000,2.0,0,0.0,0,0.0,0.000000,2,0.0,5,2.5,1,0.5,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2,2,1.0,0.5,1,2,1.0
881,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.000000,0,0.0,0,0.0,0.000000,0.0,0,0.0,0,0.0,0.000000,1,0.0,0,NaN,0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,0,0.0,0.0,0,0,0.0

In [30]:
no_fg=inactives[inactives["full_name"]=="Sim Bhullar"]
no_fg

         id    full_name first_name last_name  is_active
306  204021  Sim Bhullar        Sim   Bhullar      False

In [6]:
driver=webdriver.Firefox()
driver.get("https://www.basketball-reference.com/players/c/curryja01.html")
avgs=driver.find_element(By.ID,"per_game_stats")
totals=driver.find_element(By.ID,"totals_stats")
totals_df=pd.read_html(StringIO(totals.get_attribute("outerHTML")))[0].iloc[1]
avgs_df=pd.read_html(StringIO(avgs.get_attribute("outerHTML")))[0].iloc[1]
driver.quit()

In [19]:
avgs_df

Season    1 Yr
Age       1 Yr
Team      1 Yr
Lg        1 Yr
Pos        NaN
G            1
GS           0
MP         0.0
FG         0.0
FGA        0.0
3P         0.0
3PA        0.0
2P         0.0
2PA        0.0
FT         0.0
FTA        0.0
ORB        0.0
DRB        0.0
TRB        0.0
AST        0.0
STL        0.0
BLK        0.0
TOV        0.0
PF         0.0
PTS        0.0
Awards     NaN
Name: 1, dtype: object

In [20]:
totals_df

Season     1 Yr
Age        1 Yr
Team       1 Yr
Lg         1 Yr
Pos         NaN
G             1
GS            0
MP            0
FG            0
FGA           0
3P            0
3PA           0
2P            0
2PA           0
FT            0
FTA           0
ORB           0
DRB           0
TRB           0
AST           0
STL           0
BLK           0
TOV           0
PF            0
PTS           0
Trp-Dbl       0
Awards      NaN
Name: 1, dtype: object

In [6]:
def test_insert_missing(stats:pd.Series)->pd.Series:
    if "FG%" not in stats:
        stats=pd.concat([stats[:10],pd.Series({"FG%":0.0}),stats[10:12],pd.Series({"3P%":0.0}),stats[12:14],pd.Series({"2P%":0.0,"eFG%":0.0}),stats[14:]])
    elif "3P%" not in stats:
        stats=pd.concat([stats[:13],pd.Series({"3P%":0.0}),stats[13:]])
    elif "2P%" not in stats:
        stats=pd.concat([stats[:16],pd.Series({"2P%":0.0}),stats[16:]])
    if "FT%" not in stats:
        stats=pd.concat([stats[:20],pd.Series({"FT%":0.0}),stats[20:]])
    return stats

In [24]:
get_awards(no_fg)

DESCRIPTION
HOF    False
dtype: bool

In [22]:
hank=inactives[inactives["full_name"]=="Keith Benson"]
hank

         id     full_name first_name last_name  is_active
292  202728  Keith Benson      Keith    Benson      False

In [35]:
len(get_career_stats(ai.iloc[0]))

74

In [23]:
inactives.drop(2)

           id            full_name first_name    last_name  is_active
0       76001       Alaa Abdelnaby       Alaa    Abdelnaby      False
1       76002      Zaid Abdul-Aziz       Zaid   Abdul-Aziz      False
3          51   Mahmoud Abdul-Rauf    Mahmoud   Abdul-Rauf      False
4        1505    Tariq Abdul-Wahad      Tariq  Abdul-Wahad      False
5         949  Shareef Abdur-Rahim    Shareef  Abdur-Rahim      False
...       ...                  ...        ...          ...        ...
4568  1627790           Ante Zizic       Ante        Zizic      False
4569    78647             Jim Zoet        Jim         Zoet      False
4570    78648            Bill Zopf       Bill         Zopf      False
4571    78650           Matt Zunic       Matt        Zunic      False
4572  1628427        Vlatko Čančar     Vlatko       Čančar      False

[4572 rows x 5 columns]

In [8]:
driver=webdriver.Firefox()
driver.install_addon("ublock_origin-1.68.0.xpi")
driver.get("https://www.basketball-reference.com/players/b/brantja01.html")
avg_row=driver.find_elements(By.ID,"per_game_stats_post")
avgs=pd.read_html(StringIO(avg_row[0].get_attribute("outerHTML")))[0].iloc[-1]
driver.quit()
avgs

Season    2 Yrs
Age       2 Yrs
Team      2 Yrs
Lg        2 Yrs
Pos         NaN
G             4
GS            0
MP          4.0
FG          0.0
FGA         1.5
FG%         0.0
3P          0.0
3PA         0.8
3P%         0.0
2P          0.0
2PA         0.8
2P%         0.0
eFG%        0.0
FT          0.5
FTA         1.0
FT%         0.5
ORB         0.8
DRB         0.5
TRB         1.3
AST         0.5
STL         0.0
BLK         0.3
TOV         0.5
PF          1.0
PTS         0.5
Awards      NaN
Name: 2, dtype: object

In [15]:
get_awards(hank)

DESCRIPTION
HOF    False
dtype: bool

In [24]:
get_career_stats(hank.iloc[0]).to_dict()

{'GP': 3,
 'GS': 0,
 'MIN': 9,
 'FGM': 0,
 'FGA': 1,
 'FG_PCT': 0.0,
 'FG3M': 0,
 'FG3A': 0,
 'FG3_PCT': 0.0,
 'FTM': 0,
 'FTA': 0,
 'FT_PCT': 0.0,
 'OREB': 2,
 'DREB': 1,
 'REB': 3,
 'AST': 0,
 'STL': 0,
 'BLK': 0,
 'TOV': 0,
 'PF': 0,
 'PTS': 0,
 'MPG': 3.0,
 'FGMPG': 0.0,
 'FGAPG': 0.3,
 'FG3MPG': 0.0,
 'FG3APG': 0.0,
 'FTMPG': 0.0,
 'FTAPG': 0.0,
 'ORPG': 0.7,
 'DRPG': 0.3,
 'RPG': 1.0,
 'APG': 0.0,
 'SPG': 0.0,
 'BPG': 0.0,
 'TPG': 0.0,
 'FPG': 0.0,
 'PPG': 0.0}

In [8]:
inactives.loc[inactives["full_name"]=="Cui Cui","full_name"]="Yongxi Cui"
inactives[inactives["last_name"]=="Cui"]

          id   full_name first_name last_name  is_active
863  1642385  Yongxi Cui        Cui       Cui      False

In [3]:
ike=inactives[inactives["full_name"]=="Ike Fontaine"]
ike

        id     full_name first_name last_name  is_active
1279  1829  Ike Fontaine        Ike  Fontaine      False

In [6]:
get_awards(ike)

DESCRIPTION
HOF    False
dtype: bool

In [47]:
br_case=inactives[inactives["full_name"]=="Ruben Garces"].iloc[0]
br_case["full_name"]="Rubén Garcés"
br_case

id                    2092
full_name     Rubén Garcés
first_name           Ruben
last_name           Garces
is_active            False
Name: 1373, dtype: object

In [48]:
get_career_stats(br_case)

GP          13.0
GS           0.0
MIN         73.0
FGM          7.0
FGA         22.0
FG_PCT     0.318
FG3M         0.0
FG3A         0.0
FG3_PCT      0.0
FTM          2.0
FTA          8.0
FT_PCT      0.25
OREB        16.0
DREB        13.0
REB         29.0
AST          5.0
STL          3.0
BLK          2.0
TOV          5.0
PF          14.0
PTS         16.0
MPG          5.6
FGMPG        0.5
FGAPG        1.7
FG3MPG       0.0
FG3APG       0.0
FTMPG        0.2
FTAPG        0.6
ORPG         1.2
DRPG         1.0
RPG          2.2
APG          0.4
SPG          0.2
BPG          0.2
TPG          0.4
FPG          1.1
PPG          1.2
dtype: object

In [2]:
driver=webdriver.Firefox()
driver.install_addon("ublock_origin-1.68.0.xpi")
driver.get(f"https://www.basketball-reference.com/players/b/brantja01.html")
br_table=driver.find_element(By.ID,"totals_stats")
br_df=pd.read_html(StringIO(br_table.get_attribute("outerHTML")))[0]
driver.quit()
br_df

,Season,Age,Team,Lg,Pos,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,eFG%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Trp-Dbl,Awards
0,2019-20,23,UTA,NBA,PF,9,0,96,10,28,.357,3,13,.231,7,15,.467,.411,1,2,.500,2,18,20,11,3,5,7,7,24,0,NaN
1,2020-21,24,UTA,NBA,PF,28,0,138,25,52,.481,12,28,.429,13,24,.542,.596,2,2,1.000,9,18,27,15,7,2,8,17,64,0,NaN
2,2021-22,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league
3,2022-23,26,UTA,NBA,PF,4,0,39,8,14,.571,4,9,.444,4,5,.800,.714,2,2,1.000,1,5,6,3,0,2,2,3,22,0,NaN
4,2023-24,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league,Did not play - other pro league
5,3 Yrs,3 Yrs,3 Yrs,3 Yrs,NaN,41,0,273,43,94,.457,19,50,.380,24,44,.545,.559,5,6,.833,12,41,53,29,10,9,17,27,110,0,NaN
6,82 Game Avg,82 Game Avg,82 Game Avg,82 Game Avg,NaN,82,0,546,86,188,.457,38,100,.380,48,88,.545,.559,10,12,.833,24,82,106,58,20,18,34,54,220,0,NaN

In [8]:
int(br_df[br_df["Season"].str.contains(r"\d{4}-\d{2}")].iloc[-1]["Season"][:4])+1

2024

In [23]:
br_df[br_df.fillna("")["Season"].str.contains(r"^\d Yrs?$")].iloc[0]

Season      1 Yr
Age         1 Yr
Team        1 Yr
Lg          1 Yr
Pos          NaN
G           13.0
GS           0.0
MP          73.0
FG           7.0
FGA         22.0
FG%        0.318
3P           0.0
3PA          0.0
2P           7.0
2PA         22.0
2P%        0.318
eFG%       0.318
FT           2.0
FTA          8.0
FT%         0.25
ORB         16.0
DRB         13.0
TRB         29.0
AST          5.0
STL          3.0
BLK          2.0
TOV          5.0
PF          14.0
PTS         16.0
Trp-Dbl      0.0
Awards       NaN
Name: 3, dtype: object

In [10]:
players_df=pd.DataFrame(players.get_players())
ln_groups=players_df.groupby(players_df["last_name"].str[0])
group=ln_groups.get_group("Z")
br=[]
for row in group.itertuples(index=False):
    #print(row[1])
    sleep(.5)
    try:
        playercareerstats.PlayerCareerStats(row[0])
    except KeyError:
        br.append(row[1])
driver=webdriver.Firefox()
driver.install_addon("ublock_origin-1.68.0.xpi")
driver.get(f"https://www.basketball-reference.com/players/z/")
for p_name in br:
    print(p_name)
    if len(driver.find_elements(By.LINK_TEXT,p_name))==0:
        print(f"MISMATCH: {p_name}")
driver.quit()

Luke Zeller
Derrick Zimmerman

In [7]:
inactives[inactives["full_name"]=="Matt Williams Jr."]

           id          full_name first_name     last_name  is_active
4447  1628475  Matt Williams Jr.       Matt  Williams Jr.      False

In [15]:
ln_groups.indices

{'A': array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
         13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
         26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
         39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
         52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
         65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
         78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
         91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
        104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
        117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
        130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
        143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
        156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
        169, 170, 171, 172, 173]),
 'B': array([174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186,
        187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199,
        200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212,
        213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225,
        226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238,
        239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251,
        252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264,
        265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277,
        278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290,
        291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303,
        304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316,
        317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329,
        330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342,
        343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355,
        356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368,
        369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381,
        382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394,
        395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407,
        408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420,
        421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433,
        434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446,
        447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459,
        460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472,
        473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485,
        486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498,
        499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511,
        512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524,
        525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537,
        538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550,
        551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563,
        564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576,
        577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589,
        590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602,
        603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615,
        616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628,
        629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641,
        642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654,
        655, 656, 657, 658, 659, 660]),
 'C': array([661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673,
        674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686,
        687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699,
        700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712,
        713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725,
        726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738,
        739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751,
        752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764,
        765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777,
        778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790,
        791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803,
        804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816,
        817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829,
        830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842,
        843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855,
        856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868,
        869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881,
        882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894,
        895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907,
        908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920,
        921, 922, 923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933,
        934, 935, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946,
        947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959,
        960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972,
        973, 974, 975, 976, 977, 978, 979, 980, 981, 982, 983]),
 'D': array([ 984,  985,  986,  987,  988,  989,  990,  991,  992,  993,  994,
         995,  996,  997,  998,  999, 1000, 1001, 1002, 1003, 1004, 1005,
        1006, 1007, 1008, 1009, 1010, 1011, 1012, 1013, 1014, 1015, 1016,
        1017, 1018, 1019, 1020, 1021, 1022, 1023, 1024, 1025, 1026, 1027,
        1028, 1029, 1030, 1031, 1032, 1033, 1034, 1035, 1036, 1037, 1038,
        1039, 1040, 1041, 1042, 1043, 1044, 1045, 1046, 1047, 1048, 1049,
        1050, 1051, 1052, 1053, 1054, 1055, 1056, 1057, 1058, 1059, 1060,
        1061, 1062, 1063, 1064, 1065, 1066, 1067, 1068, 1069, 1070, 1071,
        1072, 1073, 1074, 1075, 1076, 1077, 1078, 1079, 1080, 1081, 1082,
        1083, 1084, 1085, 1086, 1087, 1088, 1089, 1090, 1091, 1092, 1093,
        1094, 1095, 1096, 1097, 1098, 1099, 1100, 1101, 1102, 1103, 1104,
        1105, 1106, 1107, 1108, 1109, 1110, 1111, 1112, 1113, 1114, 1115,
        1116, 1117, 1118, 1119, 1120, 1121, 1122, 1123, 1124, 1125, 1126,
        1127, 1128, 1129, 1130, 1131, 1132, 1133, 1134, 1135, 1136, 1137,
        1138, 1139, 1140, 1141, 1142, 1143, 1144, 1145, 1146, 1147, 1148,
        1149, 1150, 1151, 1152, 1153, 1154, 1155, 1156, 1157, 1158, 1159,
        1160, 1161, 1162, 1163, 1164, 1165, 1166, 1167, 1168, 1169, 1170,
        1171, 1172, 1173, 1174, 1175, 1176, 1177, 1178, 1179, 1180, 1181,
        1182, 1183, 1184, 1185, 1186, 1187, 1188, 1189, 1190, 1191, 1192,
        1193, 1194, 1195, 1196, 1197, 1198, 1199, 1200, 1201, 1202, 1203,
        1204, 1205, 1206, 1207, 1208, 1209, 1210, 1211, 1212, 1213, 1214,
        1215, 1216, 1217, 1218, 1219, 1220, 1221, 1222, 1223, 1224, 1225,
        1226, 1227, 1228, 1229]),
 'E': array([1230, 1231, 1232, 1233, 1234, 1235, 1236, 1237, 1238, 1239, 1240,
        1241, 1242, 1243, 1244, 1245, 1246, 1247, 1248, 1249, 1250, 1251,
        1252, 1253, 1254, 1255, 1256, 1257, 1258, 1259, 1260, 1261, 1262,
        1263, 1264, 1265, 1266, 1267, 1268, 1269, 1270, 1271, 1272, 1273,
        1274, 1275, 1276, 1277, 1278, 1279, 1280, 1281, 1282, 1283, 1284,
        1285, 1286, 1287, 1288, 1289, 1290, 1291, 1292, 1293, 1294, 1295,
        1296, 1297, 1298, 1299, 1300, 1301, 1302, 1303, 1304, 1305, 1306,
        1307, 1308, 1309, 1310, 1311, 1312, 1313, 1314, 1315, 1316, 1317,
        1318, 1319, 1320, 1321, 1322, 1323, 1324, 1325, 1326, 1327, 1328,
        1329, 1330, 1331, 1332, 1333, 1334, 1335, 1336, 1337, 1338, 1339,
        1340, 1341, 1342]),
 'F': array([1343, 1344, 1345, 1346, 1347, 1348, 1349, 1350, 1351, 1352, 1353,
        1354, 1355, 1356, 1357, 1358, 1359, 1360, 1361, 1362, 1363, 1364,
        1365, 1366, 1367, 1368, 1369, 1370, 1371, 1372, 1373, 1374, 1375,
        1376, 1377, 1378, 1379, 1380, 1381, 1382, 1383, 1384, 1385, 1386,
        1387, 1388, 1389, 1390, 1391, 1392, 1393, 1394, 1395, 1396, 1397,
        1398, 1399, 1400, 1401, 1402, 1403, 1404, 1405, 1406, 1407, 1408,
        1409, 1410, 1411, 1412, 1413, 1414, 1415, 1416, 1417, 1418, 1419,
        1420, 1421, 1422, 1423, 1424, 1425, 1426, 1427, 1428, 1429, 1430,
        1431, 1432, 1433, 1434, 1435, 1436, 1437, 1438, 1439, 1440, 1441,
        1442, 1443, 1444, 1445, 1446, 1447, 1448, 1449, 1450, 1451, 1452,
        1453, 1454, 1455, 1456, 1457, 1458, 1459, 1460, 1461, 1462, 1463,
        1464, 1465, 1466, 1467, 1468, 1469, 1470, 1471, 1472, 1473, 1474,
        1475, 1476, 1477, 1478, 1479, 1480, 1481, 1482, 1483, 1484, 1485,
        1486, 1487, 1488, 1489, 1490, 1491, 1492, 1493, 1494, 1495, 1496,
        1497]),
 'G': array([1498, 1499, 1500, 1501, 1502, 1503, 1504, 1505, 1506, 1507, 1508,
        1509, 1510, 1511, 1512, 1513, 1514, 1515, 1516, 1517, 1518, 1519,
        1520, 1521, 1522, 1523, 1524, 1525, 1526, 1527, 1528, 1529, 1530,
        1531, 1532, 1533, 1534, 1535, 1536, 1537, 1538, 1539, 1540, 1541,
        1542, 1543, 1544, 1545, 1546, 1547, 1548, 1549, 1550, 1551, 1552,
        1553, 1554, 1555, 1556, 1557, 1558, 1559, 1560, 1561, 1562, 1563,
        1564, 1565, 1566, 1567, 1568, 1569, 1570, 1571, 1572, 1573, 1574,
        1575, 1576, 1577, 1578, 1579, 1580, 1581, 1582, 1583, 1584, 1585,
        1586, 1587, 1588, 1589, 1590, 1591, 1592, 1593, 1594, 1595, 1596,
        1597, 1598, 1599, 1600, 1601, 1602, 1603, 1604, 1605, 1606, 1607,
        1608, 1609, 1610, 1611, 1612, 1613, 1614, 1615, 1616, 1617, 1618,
        1619, 1620, 1621, 1622, 1623, 1624, 1625, 1626, 1627, 1628, 1629,
        1630, 1631, 1632, 1633, 1634, 1635, 1636, 1637, 1638, 1639, 1640,
        1641, 1642, 1643, 1644, 1645, 1646, 1647, 1648, 1649, 1650, 1651,
        1652, 1653, 1654, 1655, 1656, 1657, 1658, 1659, 1660, 1661, 1662,
        1663, 1664, 1665, 1666, 1667, 1668, 1669, 1670, 1671, 1672, 1673,
        1674, 1675, 1676, 1677, 1678, 1679, 1680, 1681, 1682, 1683, 1684,
        1685, 1686, 1687, 1688, 1689, 1690, 1691, 1692, 1693, 1694, 1695,
        1696, 1697, 1698, 1699, 1700, 1701, 1702, 1703, 1704, 1705, 1706,
        1707, 1708, 1709, 1710, 1711, 1712, 1713, 1714, 1715, 1716, 1717,
        1718, 1719, 1720, 1721, 1722, 1723, 1724, 1725, 1726, 1727, 1728,
        1729, 1730, 1731, 1732, 1733, 1734, 1735, 1736, 1737, 1738, 1739,
        1740, 1741, 1742, 1743, 1744, 1745, 1746, 1747, 1748, 1749, 1750,
        1751, 1752, 1753, 1754, 1755, 1756]),
 'H': array([1757, 1758, 1759, 1760, 1761, 1762, 1763, 1764, 1765, 1766, 1767,
        1768, 1769, 1770, 1771, 1772, 1773, 1774, 1775, 1776, 1777, 1778,
        1779, 1780, 1781, 1782, 1783, 1784, 1785, 1786, 1787, 1788, 1789,
        1790, 1791, 1792, 1793, 1794, 1795, 1796, 1797, 1798, 1799, 1800,
        1801, 1802, 1803, 1804, 1805, 1806, 1807, 1808, 1809, 1810, 1811,
        1812, 1813, 1814, 1815, 1816, 1817, 1818, 1819, 1820, 1821, 1822,
        1823, 1824, 1825, 1826, 1827, 1828, 1829, 1830, 1831, 1832, 1833,
        1834, 1835, 1836, 1837, 1838, 1839, 1840, 1841, 1842, 1843, 1844,
        1845, 1846, 1847, 1848, 1849, 1850, 1851, 1852, 1853, 1854, 1855,
        1856, 1857, 1858, 1859, 1860, 1861, 1862, 1863, 1864, 1865, 1866,
        1867, 1868, 1869, 1870, 1871, 1872, 1873, 1874, 1875, 1876, 1877,
        1878, 1879, 1880, 1881, 1882, 1883, 1884, 1885, 1886, 1887, 1888,
        1889, 1890, 1891, 1892, 1893, 1894, 1895, 1896, 1897, 1898, 1899,
        1900, 1901, 1902, 1903, 1904, 1905, 1906, 1907, 1908, 1909, 1910,
        1911, 1912, 1913, 1914, 1915, 1916, 1917, 1918, 1919, 1920, 1921,
        1922, 1923, 1924, 1925, 1926, 1927, 1928, 1929, 1930, 1931, 1932,
        1933, 1934, 1935, 1936, 1937, 1938, 1939, 1940, 1941, 1942, 1943,
        1944, 1945, 1946, 1947, 1948, 1949, 1950, 1951, 1952, 1953, 1954,
        1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965,
        1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976,
        1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987,
        1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998,
        1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009,
        2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020,
        2021, 2022, 2023, 2024, 2025, 2026, 2027, 2028, 2029, 2030, 2031,
        2032, 2033, 2034, 2035, 2036, 2037, 2038, 2039, 2040, 2041, 2042,
        2043, 2044, 2045, 2046, 2047, 2048, 2049, 2050, 2051, 2052, 2053,
        2054, 2055, 2056, 2057, 2058, 2059, 2060, 2061, 2062, 2063, 2064,
        2065, 2066, 2067, 2068, 2069, 2070, 2071, 2072, 2073, 2074, 2075,
        2076, 2077, 2078, 2079, 2080, 2081, 2082, 2083, 2084, 2085, 2086,
        2087, 2088, 2089, 2090, 2091, 2092, 2093, 2094, 2095, 2096, 2097,
        2098, 2099, 2100, 2101, 2102, 2103, 2104, 2105, 2106, 2107, 2108,
        2109, 2110, 2111, 2112, 2113, 2114, 2115, 2116, 2117, 2118, 2119,
        2120, 2121]),
 'I': array([2122, 2123, 2124, 2125, 2126, 2127, 2128, 2129, 2130, 2131, 2132,
        2133, 2134, 2135, 2136, 2137, 2138, 2139, 2140, 2141, 2142, 2143,
        2144, 2145]),
 'J': array([2146, 2147, 2148, 2149, 2150, 2151, 2152, 2153, 2154, 2155, 2156,
        2157, 2158, 2159, 2160, 2161, 2162, 2163, 2164, 2165, 2166, 2167,
        2168, 2169, 2170, 2171, 2172, 2173, 2174, 2175, 2176, 2177, 2178,
        2179, 2180, 2181, 2182, 2183, 2184, 2185, 2186, 2187, 2188, 2189,
        2190, 2191, 2192, 2193, 2194, 2195, 2196, 2197, 2198, 2199, 2200,
        2201, 2202, 2203, 2204, 2205, 2206, 2207, 2208, 2209, 2210, 2211,
        2212, 2213, 2214, 2215, 2216, 2217, 2218, 2219, 2220, 2221, 2222,
        2223, 2224, 2225, 2226, 2227, 2228, 2229, 2230, 2231, 2232, 2233,
        2234, 2235, 2236, 2237, 2238, 2239, 2240, 2241, 2242, 2243, 2244,
        2245, 2246, 2247, 2248, 2249, 2250, 2251, 2252, 2253, 2254, 2255,
        2256, 2257, 2258, 2259, 2260, 2261, 2262, 2263, 2264, 2265, 2266,
        2267, 2268, 2269, 2270, 2271, 2272, 2273, 2274, 2275, 2276, 2277,
        2278, 2279, 2280, 2281, 2282, 2283, 2284, 2285, 2286, 2287, 2288,
        2289, 2290, 2291, 2292, 2293, 2294, 2295, 2296, 2297, 2298, 2299,
        2300, 2301, 2302, 2303, 2304, 2305, 2306, 2307, 2308, 2309, 2310,
        2311, 2312, 2313, 2314, 2315, 2316, 2317, 2318, 2319, 2320, 2321,
        2322, 2323, 2324, 2325, 2326, 2327, 2328, 2329, 2330, 2331, 2332,
        2333, 2334, 2335, 2336, 2337, 2338, 2339, 2340, 2341, 2342, 2343,
        2344, 2345, 2346, 2347, 2348, 2349, 2350, 2351, 2352, 2353, 2354,
        2355, 2356, 2357, 2358, 2359, 2360, 2361, 2362, 2363, 2364, 2365,
        2366, 2367, 2368, 2369, 2370, 2371, 2372, 2373, 2374, 2375, 2376,
        2377, 2378, 2379, 2380, 2381, 2382, 2383, 2384, 2385, 2386, 2387,
        2388, 2389, 2390, 2391, 2392, 2393, 2394, 2395, 2396, 2397, 2398,
        2399, 2400, 2401]),
 'K': array([2402, 2403, 2404, 2405, 2406, 2407, 2408, 2409, 2410, 2411, 2412,
        2413, 2414, 2415, 2416, 2417, 2418, 2419, 2420, 2421, 2422, 2423,
        2424, 2425, 2426, 2427, 2428, 2429, 2430, 2431, 2432, 2433, 2434,
        2435, 2436, 2437, 2438, 2439, 2440, 2441, 2442, 2443, 2444, 2445,
        2446, 2447, 2448, 2449, 2450, 2451, 2452, 2453, 2454, 2455, 2456,
        2457, 2458, 2459, 2460, 2461, 2462, 2463, 2464, 2465, 2466, 2467,
        2468, 2469, 2470, 2471, 2472, 2473, 2474, 2475, 2476, 2477, 2478,
        2479, 2480, 2481, 2482, 2483, 2484, 2485, 2486, 2487, 2488, 2489,
        2490, 2491, 2492, 2493, 2494, 2495, 2496, 2497, 2498, 2499, 2500,
        2501, 2502, 2503, 2504, 2505, 2506, 2507, 2508, 2509, 2510, 2511,
        2512, 2513, 2514, 2515, 2516, 2517, 2518, 2519, 2520, 2521, 2522,
        2523, 2524, 2525, 2526, 2527, 2528, 2529, 2530, 2531, 2532, 2533,
        2534, 2535, 2536, 2537, 2538, 2539, 2540, 2541, 2542, 2543, 2544,
        2545, 2546, 2547, 2548, 2549, 2550, 2551, 2552, 2553, 2554, 2555,
        2556, 2557, 2558, 2559, 2560, 2561, 2562, 2563, 2564, 2565, 2566,
        2567, 2568, 2569, 2570, 2571, 2572]),
 'L': array([2573, 2574, 2575, 2576, 2577, 2578, 2579, 2580, 2581, 2582, 2583,
        2584, 2585, 2586, 2587, 2588, 2589, 2590, 2591, 2592, 2593, 2594,
        2595, 2596, 2597, 2598, 2599, 2600, 2601, 2602, 2603, 2604, 2605,
        2606, 2607, 2608, 2609, 2610, 2611, 2612, 2613, 2614, 2615, 2616,
        2617, 2618, 2619, 2620, 2621, 2622, 2623, 2624, 2625, 2626, 2627,
        2628, 2629, 2630, 2631, 2632, 2633, 2634, 2635, 2636, 2637, 2638,
        2639, 2640, 2641, 2642, 2643, 2644, 2645, 2646, 2647, 2648, 2649,
        2650, 2651, 2652, 2653, 2654, 2655, 2656, 2657, 2658, 2659, 2660,
        2661, 2662, 2663, 2664, 2665, 2666, 2667, 2668, 2669, 2670, 2671,
        2672, 2673, 2674, 2675, 2676, 2677, 2678, 2679, 2680, 2681, 2682,
        2683, 2684, 2685, 2686, 2687, 2688, 2689, 2690, 2691, 2692, 2693,
        2694, 2695, 2696, 2697, 2698, 2699, 2700, 2701, 2702, 2703, 2704,
        2705, 2706, 2707, 2708, 2709, 2710, 2711, 2712, 2713, 2714, 2715,
        2716, 2717, 2718, 2719, 2720, 2721, 2722, 2723, 2724, 2725, 2726,
        2727, 2728, 2729, 2730, 2731, 2732, 2733, 2734, 2735, 2736, 2737,
        2738, 2739, 2740, 2741, 2742, 2743, 2744, 2745, 2746, 2747, 2748,
        2749, 2750, 2751, 2752, 2753, 2754, 2755, 2756, 2757, 2758, 2759,
        2760, 2761, 2762, 2763, 2764]),
 'M': array([2765, 2766, 2767, 2768, 2769, 2770, 2771, 2772, 2773, 2774, 2775,
        2776, 2777, 2778, 2779, 2780, 2781, 2782, 2783, 2784, 2785, 2786,
        2787, 2788, 2789, 2790, 2791, 2792, 2793, 2794, 2795, 2796, 2797,
        2798, 2799, 2800, 2801, 2802, 2803, 2804, 2805, 2806, 2807, 2808,
        2809, 2810, 2811, 2812, 2813, 2814, 2815, 2816, 2817, 2818, 2819,
        2820, 2821, 2822, 2823, 2824, 2825, 2826, 2827, 2828, 2829, 2830,
        2831, 2832, 2833, 2834, 2835, 2836, 2837, 2838, 2839, 2840, 2841,
        2842, 2843, 2844, 2845, 2846, 2847, 2848, 2849, 2850, 2851, 2852,
        2853, 2854, 2855, 2856, 2857, 2858, 2859, 2860, 2861, 2862, 2863,
        2864, 2865, 2866, 2867, 2868, 2869, 2870, 2871, 2872, 2873, 2874,
        2875, 2876, 2877, 2878, 2879, 2880, 2881, 2882, 2883, 2884, 2885,
        2886, 2887, 2888, 2889, 2890, 2891, 2892, 2893, 2894, 2895, 2896,
        2897, 2898, 2899, 2900, 2901, 2902, 2903, 2904, 2905, 2906, 2907,
        2908, 2909, 2910, 2911, 2912, 2913, 2914, 2915, 2916, 2917, 2918,
        2919, 2920, 2921, 2922, 2923, 2924, 2925, 2926, 2927, 2928, 2929,
        2930, 2931, 2932, 2933, 2934, 2935, 2936, 2937, 2938, 2939, 2940,
        2941, 2942, 2943, 2944, 2945, 2946, 2947, 2948, 2949, 2950, 2951,
        2952, 2953, 2954, 2955, 2956, 2957, 2958, 2959, 2960, 2961, 2962,
        2963, 2964, 2965, 2966, 2967, 2968, 2969, 2970, 2971, 2972, 2973,
        2974, 2975, 2976, 2977, 2978, 2979, 2980, 2981, 2982, 2983, 2984,
        2985, 2986, 2987, 2988, 2989, 2990, 2991, 2992, 2993, 2994, 2995,
        2996, 2997, 2998, 2999, 3000, 3001, 3002, 3003, 3004, 3005, 3006,
        3007, 3008, 3009, 3010, 3011, 3012, 3013, 3014, 3015, 3016, 3017,
        3018, 3019, 3020, 3021, 3022, 3023, 3024, 3025, 3026, 3027, 3028,
        3029, 3030, 3031, 3032, 3033, 3034, 3035, 3036, 3037, 3038, 3039,
        3040, 3041, 3042, 3043, 3044, 3045, 3046, 3047, 3048, 3049, 3050,
        3051, 3052, 3053, 3054, 3055, 3056, 3057, 3058, 3059, 3060, 3061,
        3062, 3063, 3064, 3065, 3066, 3067, 3068, 3069, 3070, 3071, 3072,
        3073, 3074, 3075, 3076, 3077, 3078, 3079, 3080, 3081, 3082, 3083,
        3084, 3085, 3086, 3087, 3088, 3089, 3090, 3091, 3092, 3093, 3094,
        3095, 3096, 3097, 3098, 3099, 3100, 3101, 3102, 3103, 3104, 3105,

In [20]:
ln_groups.get_group("Š")

          id    full_name first_name last_name  is_active
5102  203967  Dario Šarić      Dario     Šarić       True

In [21]:
playercareerstats.PlayerCareerStats(203967).get_data_frames()[0]

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,203967,2016-17,00,1610612755,PHI,23.0,81,36,2129,381,927,0.411,106,341,0.311,172,220,0.782,112,401,513,182,57,30,183,162,1040
1,203967,2017-18,00,1610612755,PHI,24.0,78,73,2310,403,890,0.453,157,399,0.393,178,207,0.860,154,366,520,202,51,20,148,160,1141
2,203967,2018-19,00,1610612755,PHI,25.0,13,13,396,48,132,0.364,21,70,0.300,27,30,0.900,21,65,86,26,4,3,25,39,144
3,203967,2018-19,00,1610612750,MIN,25.0,68,28,1627,256,564,0.454,97,253,0.383,105,120,0.875,105,266,371,101,41,6,72,143,714
4,203967,2018-19,00,0,TOT,25.0,81,41,2022,304,696,0.437,118,323,0.365,132,150,0.880,126,331,457,127,45,9,97,182,858
5,203967,2019-20,00,1610612756,PHX,26.0,66,51,1632,256,538,0.476,84,235,0.357,108,128,0.844,100,306,406,123,37,16,88,156,704
6,203967,2020-21,00,1610612756,PHX,27.0,50,4,871,153,342,0.447,47,135,0.348,84,99,0.848,46,144,190,65,30,4,57,95,437
7,203967,2022-23,00,1610612756,PHX,29.0,37,12,533,76,178,0.427,27,69,0.391,36,44,0.818,39,103,142,57,13,5,36,69,215
8,203967,2022-23,00,1610612760,OKC,29.0,20,0,273,51,99,0.515,18,46,0.391,27,32,0.844,14,51,65,17,7,2,19,30,147
9,203967,2022-23,00,0,TOT,29.0,57,12,806,127,277,0.458,45,115,0.391,63,76,0.829,53,154,207,74,20,7,55,99,362
10,203967,2023-24,00,1610612744,GSW,30.0,64,9,1098,181,388,0.466,74,197,0.376,79,93,0.849,73,210,283,144,31,10,78,112,515
11,203967,2024-25,00,1610612743,DEN,31.0,16,4,210,21,58,0.362,7,26,0.269,7,10,0.700,14,36,50,23,7,1,15,19,56
12,203967,2025-26,00,1610612758,SAC,31.0,5,0,41,1,6,0.167,1,3,0.333,2,2,1.000,1,5,6,2,0,0,2,3,5